.dropdown_wrapper {
  position: relative;
  cursor: pointer;

  padding: 0.5rem 1.3rem;

  border-radius: 3rem;

  transition: 0.3s;

  &:hover,
  &:active {
    background-color: #24262b;
  }

  .dropdown_title {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffffa8;

    span {
      padding: 0.2rem 0.5rem;

      border-radius: 0.4rem;
      background-color: #c6f6d5;

      text-transform: uppercase;
      font-size: 0.73rem;
      font-weight: 800;
      color: #22543d;
    }

    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        transition: 0.3s;
      }
    }
  }

  .dropdown {
    opacity: 0;
    visibility: hidden;

    width: 100vw;
    max-width: 220px;

    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;

    background-color: #0d1117;
    border: 1px solid #232930;
    box-shadow: 0 0 30px #1a1e260f;
    border-radius: 0.8rem;

    overflow: hidden;

    transition: 0.5s;

    @media (max-width: 875px) {
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    .menu {
      .list {
        width: 100%;

        .listItem {
          padding: 1rem 2rem;

          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          text-decoration: none;
          line-height: 1.5;

          transition: 0.3s;

          &:hover {
            background-color: #1e2024;

            .title {
              color: #fff;
            }
          }

          &:active {
            background-color: rgb(51, 54, 61);
          }

          &.active {
            background-color: #282a2f;

            .title {
              color: #fff;
            }
          }

          .title {
            display: flex;
            align-items: center;
            gap: 0.3rem;

            text-decoration: none;

            font-size: 1rem;
            font-weight: 500;
            color: #fff;

            span {
              padding: 0.1rem 0.6rem;

              text-transform: uppercase;

              border-radius: 0.4rem;
              background-color: #ffe8c9;

              font-size: 0.7rem;
              color: #544022;
            }

            transition: 0.2s;
          }
        }
      }
    }
  }

  &:hover {
    .dropdown {
      opacity: 1;
      visibility: visible;
    }

    .dropdown_title {
      .arrow {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}
