.modal_wrappper,
.modal_wrappper_success {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;

  z-index: 500;
  opacity: 0;
  visibility: hidden;

  background-color: #acacac63;
  backdrop-filter: blur(2px);

  transition: 0.3s;

  .box {
    width: 100%;
    max-width: 490px;

    margin: 1rem;
    padding: 1.5rem;

    @media (max-width: 450px) {
      padding: 1.5rem 1.2rem;
    }

    background-color: #ffffff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    transform: scale(0.7);
    transition: 0.3s;

    .text {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      text-align: center;

      .title {
        font-size: 1.875rem;
        font-weight: 500;
        color: #1e1e1e;

        @media (max-width: 450px) {
          font-size: 1.6rem;
        }
      }

      .desc {
        font-size: 1rem;
        font-weight: 400;
        color: #6e757c;

        @media (max-width: 450px) {
          font-size: 0.9rem;
        }
      }
    }

    .form {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .phone_input_wrapper {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .div {
          font-size: 2rem;
          padding: 0 1rem;

          cursor: pointer;

          background-color: #fff;
          border: 1px solid #dcdfe6;
          border-radius: 0.3rem;
          outline: none;
        }
      }

      .input {
        width: 100%;

        padding: 1rem 1.2rem;

        @media (max-width: 450px) {
          padding: 0.9rem 1.1rem;
        }

        outline: none;

        background-color: #fff;

        border: 1px solid #dcdfe6;
        border-radius: 0.3rem;
        outline: none;

        font-size: 1rem;
        font-weight: 500;
        color: #606266;

        -webkit-transition: border-color 0.2s
          cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:focus {
          border-color: #1e1e1e53;
        }

        &::placeholder {
          color: #c0c0c0;
          font-weight: 400;
        }
      }

      .button {
        width: 100%;

        padding: 1.25rem 0;
        margin-top: 1rem;

        background-color: #1a1e26;

        border: none;
        border-radius: 0.3rem;

        cursor: pointer;

        @media (max-width: 815px) {
          cursor: default;
        }

        font-size: 1rem;
        font-weight: 500;
        color: #fff;

        transition: 0.3s;

        &:hover {
          background-color: #20252f;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    .box {
      transform: scale(1);
    }
  }
}

.modal_wrappper_success {
  .box {
    align-items: center;
    gap: 1.2rem;

    background-color: #d0ffe5;

    .img {
      width: 100%;
      min-width: 140px;

      border-radius: 0.5rem;

      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .text {
      .title {
        font-size: 1.6rem;
        font-weight: 800;
        color: #1f3830;

        @media (max-width: 815px) {
          font-size: 1.3rem;
        }
      }

      .desc {
        color: #2b5347;
        font-size: 1rem;

        @media (max-width: 815px) {
          font-size: 0.95rem;
        }
      }
    }
  }
}
