.navbar {
  margin-top: 1rem;
  padding: 1rem 4%;

  width: 100%;
  max-width: 1200px;

  position: fixed;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(rgba(13, 23, 30, 0.305), rgba(0, 0, 0, 0));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 3rem;
  border: 1px solid #d9d9d92e;

  @media (max-width: 1215px) {
    max-width: 1000px;
  }

  @media (max-width: 1015px) {
    max-width: 1100px;
    margin-top: 0;
    top: 0;

    border-radius: 0 0 1.2rem 1.2rem;
  }

  .logo {
    width: 120px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  .burger_menu {
    display: none;
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;

    .links {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .link {
    padding: 0.5rem 1.3rem;

    border-radius: 3rem;

    text-decoration: none;
    cursor: pointer;

    font-size: 1rem;
    font-weight: 400;
    color: #ffffffa8;

    transition: 0.3s;

    &:hover {
      background-color: #24262b;
    }

    &:active {
      background-color: #31343b;
    }

    &.active_link {
      background-color: #ddfffa0b;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    .buttons {
      display: flex;
      gap: 0.8rem;

      .button {
        padding: 0.8rem 1.5rem;

        border-radius: 0.4rem;

        text-decoration: none;
        cursor: pointer;

        font-size: 0.9rem;
        font-weight: 500;
        color: #ffffff;

        background-color: #896efd;

        &:hover {
          background-color: #8165ff;
        }

        &:active {
          background-color: #6e55e1;
        }

        transition: 0.3s;

        &.active {
          background-color: #896efd;
          color: #ffffff;

          transition: 0.3s;

          &:hover {
            background-color: #8165ff;
          }

          &:active {
            background-color: #6e55e1;
          }
        }
      }
    }
  }

  .arrow {
    display: flex;
    align-items: center;

    img {
      transition: 0.2s;
    }

    &.active {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: 1015px) {
  .navbar {
    height: 80px;
    border: none;
    border-bottom: 1px solid #d9d9d92e;

    .middle {
      display: none;
    }

    .right {
      display: none;
    }

    .burger_menu {
      display: block;

      .menu_icon {
        position: relative;
        width: 45px;
        height: 45px;
        cursor: default;

        border-radius: 50%;

        transition: 0.2s;

        &:active {
          background-color: #34363f51;
        }

        .button {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          cursor: default;
          z-index: 2;
          -webkit-touch-callout: none;
          position: absolute;
          opacity: 0;
        }

        div {
          margin: auto;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 26px;
          height: 12px;
        }

        span {
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          background-color: var(--bar-bg, #f4f4f4);
          border-radius: 1px;
          transition: all 0.15s cubic-bezier(0.1, 0.82, 0.76, 0.965);

          &:first-of-type {
            top: 0;
          }

          &:last-of-type {
            bottom: 0;
          }
        }

        &.active,
        .button.active + div {
          span {
            &:first-of-type {
              transform: rotate(45deg);
              top: 5px;
            }
            &:last-of-type {
              transform: rotate(-45deg);
              bottom: 5px;
            }
          }
        }

        &.active:hover span:first-of-type,
        &.active:hover span:last-of-type,
        &:hover .button.active + div span:first-of-type,
        &:hover .button.active + div span:last-of-type {
          width: 26px;
        }
      }

      .menu {
        opacity: 0;
        visibility: hidden;

        width: 100vw;
        max-width: 280px;

        position: absolute;
        top: 63px;
        right: 20px;
        z-index: 20;

        background-color: #0d1117;
        border: 1px solid #232930;
        box-shadow: 0 0 30px #1a1e2619;
        border-radius: 0.8rem;

        display: flex;
        flex-direction: column;

        transition: 0.15s;

        .links {
          margin: 0.8rem;

          display: flex;
          align-items: center;
          flex-direction: column;

          gap: 0.3rem;

          .link {
            width: 100%;

            padding: 0.6rem 1.2rem;

            border-radius: 0.4rem;

            cursor: default;

            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 400;
            color: #fff;

            transition: 0.3s;

            &:hover {
              background-color: #1e2024;
            }

            &:active {
              background-color: #282a2f;
            }

            &.active_link {
              background-color: #32353b;
            }

            &.button {
              margin-top: 0.5rem;
              padding: 0.8rem 1.2rem;

              background-color: #1a1e26;

              text-align: center;
              font-weight: 500;
              color: #fff;

              &:hover {
                background-color: #20252f;
              }
            }
          }
        }

        .buttons {
          padding: 0.8rem;

          display: flex;
          flex-direction: column;
          gap: 0.8rem;

          .button {
            padding: 0.8rem;

            border-radius: 0.4rem;

            text-decoration: none;
            cursor: pointer;

            text-align: center;
            font-size: 0.9rem;
            font-weight: 500;
            color: #fff;

            background-color: #896efd;

            &:hover {
              background-color: #8165ff;
            }

            &:active {
              background-color: #6e55e1;
            }

            &.active {
              background-color: #896efd;
              color: #ffffff;

              transition: 0.3s;

              &:hover {
                background-color: #8165ff;
              }

              &:active {
                background-color: #6e55e1;
              }
            }
          }
        }

        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
