.page_wrapper {
  width: 100%;
  height: 200vh;

  gap: 0.8rem;

  padding: 1rem;

  .button {
    padding: 1.25rem;

    background-color: #50565e;

    border: none;
    border-radius: 0.3rem;

    cursor: pointer;

    @media (max-width: 815px) {
      cursor: default;
    }

    font-size: 1rem;
    font-weight: 500;
    color: #fff;

    transition: 0.3s;

    // &:hover {
    //   background-color: #fff87c;
    // }

    // &:active {
    //   background-color: #fff86b;
    // }
  }
}
