.page_wrapper {
  width: 100%;
  height: 200vh;

  gap: 0.8rem;

  padding: 1rem;

  .button {
    padding: 1.25rem;

    background-color: #00ffbf75;

    border: 1px solid #00ffbf;
    border-radius: 0.3rem;

    cursor: pointer;

    @media (max-width: 815px) {
      cursor: default;
    }

    font-size: 1rem;
    font-weight: 500;
    color: #005b44;

    transition: 0.3s;

    &:hover {
      background-color: #00ffbfb9;
    }

    &:active {
      background-color: rgb(54, 255, 205);
    }
  }
}
