*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  // background: #16191f;

  background-color: #0d1117;
}

body {
  font-family: HarmonyOS Sans, PingFang TC, -apple-system, BlinkMacSystemFont,
    segoe ui, Roboto, Helvetica, Arial, Hiragino Sans GB, WenQuanYi Micro Hei,
    sans-serif;
}
